@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- General ----- */
body {
    font-family: "Poppins", sans-serif;
    background-color: #eff0eb;
}

.status__online {
    border: 3px;
    border-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
